<header>
	<a href="#" class="close" data-bind="command: closeCommand">×</a>
	<h3 data-i18n="POPUPS_CREATE_FOLDER/TITLE_CREATE_FOLDER"></h3>
</header>
<form id="createfolderform" class="modal-body form-horizontal" autocomplete="off" data-bind="submit: submitForm">
	<div class="control-group">
		<label data-i18n="POPUPS_CREATE_FOLDER/LABEL_PARENT"></label>
		<select data-bind="options: parentFolderSelectList, value: selectedParentValue,
			optionsText: 'name', optionsValue: 'id', optionsAfterRender: defaultOptionsAfterRender"></select>
	</div>
	<div class="control-group">
		<label data-i18n="GLOBAL/NAME"></label>
		<input type="text"
			autofocus="" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
			required="" pattern="^[^\\/]+$" data-bind="textInput: folderName">
	</div>
	<div class="control-group" data-bind="component: {
		name: 'Checkbox',
		params: {
			label: 'SETTINGS_FOLDERS/BUTTON_SUBSCRIBE',
			value: folderSubscribe
		}
	}"></div>
</form>
<footer>
	<button form="createfolderform" class="btn buttonCreate">
		<i class="icon-folder-add"></i>
		<span data-i18n="POPUPS_CREATE_FOLDER/BUTTON_CREATE"></span>
	</button>
</footer>
