<header class="g-ui-user-select-none">
	<a href="#" class="close" data-bind="command: closeCommand">×</a>
	<h3 data-i18n="OPENPGP/POPUP_VIEW_TITLE"></h3>
</header>
<div class="modal-body">
	<div class="form-horizontal">
		<div class="control-group">
			<pre class="key-viewer" data-bind="initDom: keyDom, text: key"></pre>
		</div>
	</div>
</div>
<footer>
	<a class="btn buttonClose" data-bind="command: closeCommand" data-icon="✖" data-i18n="GLOBAL/CLOSE"></a>
	<a class="btn buttonClose" data-bind="click: selectKey" data-icon="🔑" data-i18n="OPENPGP/POPUP_VIEW_BUTTON"></a>
</footer>
