<header>
	<a href="#" class="close" data-bind="command: cancelCommand">×</a>
	<h3>
		<span data-bind="visible: isNew" data-i18n="POPUPS_ADD_ACCOUNT/TITLE_ADD_ACCOUNT"></span>
		<span data-bind="visible: !isNew()" data-i18n="POPUPS_ADD_ACCOUNT/TITLE_UPDATE_ACCOUNT"></span>
	</h3>
</header>
<form class="modal-body form-horizontal" autocomplete="off">
	<div class="alert" data-bind="visible: '' !== submitError()">
		<a href="#" class="close" data-bind="click: function () { submitError('') }">×</a>
		<span data-bind="text: submitError"></span>
		<div data-bind="visible: submitErrorAdditional">
			<br>
			<span data-bind="text: submitErrorAdditional"></span>
		</div>
	</div>
	<div class="control-group" data-bind="css: {'error': emailError}">
		<label data-i18n="GLOBAL/EMAIL"></label>
		<strong style="margin-top: 5px;" data-bind="visible: !isNew(), text: email"></strong>
		<input type="email" class="input-xlarge"
			autofocus="" autocorrect="off" autocapitalize="off" spellcheck="false"
			data-bind="visible: isNew, textInput: email, onEnter: addAccountCommand">
	</div>
	<div class="control-group" data-bind="css: {'error': passwordError}">
		<label data-i18n="GLOBAL/PASSWORD"></label>
		<input type="password" class="input-xlarge" autocomplete="new-password" autocorrect="off" autocapitalize="off" spellcheck="false"
			data-bind="value: password, onEnter: addAccountCommand">
	</div>
</form>
<footer>
	<a class="btn buttonAddAccount" data-bind="command: addAccountCommand">
		<i data-bind="visible: isNew, css: {'icon-user-add': !submitRequest(), 'icon-spinner': submitRequest()}"></i>
		<span data-bind="visible: isNew" data-i18n="POPUPS_ADD_ACCOUNT/BUTTON_ADD_ACCOUNT"></span>
		<i data-bind="visible: !isNew(), css: {'icon-ok': !submitRequest(), 'icon-spinner': submitRequest()}"></i>
		<span data-bind="visible: !isNew()" data-i18n="POPUPS_ADD_ACCOUNT/BUTTON_UPDATE_ACCOUNT"></span>
	</a>
</footer>
